.contato {
    align-items: center;
    background: var(--cor-fundo-light);
    color: var(--texto-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 4rem;
    text-align: center;
}

.contato__titulo {
    font-size: 1.6rem;
    font-family: var(--fonte-destaque);
}

.contato__subtitulo {
    font-family: var(--fonte-base);
    margin: 1rem 0;
}

.contato__link {
    color: var(--texto-dark);
    font-weight: 700;
    transition: all .5s ease-in;
    text-decoration: none;
}

.contato__link:hover {
    color: var(--sombra-hover);
    font-weight: 700;
    text-decoration: underline;
}

.contato__content {
    display: flex;
    flex-direction: column;
}

.contato__form {
    align-self: center;
    flex-wrap: wrap;
    width: 80vw;
}

.contato__input__field {
    display: flex;
    flex-direction: column;
}

.contato__input, .contato__textarea {
    box-sizing: border-box;
    border: var(--cor-fundo-light) 1px solid;
    font-family: var(--fonte-base);
    margin: 1rem 0;
    padding: 1.5rem;
    width: 100%;
    outline: none;
    transition: all .25s;
}

.contato__input:hover, .contato__textarea:hover {
    border: var(--texto-dark) 1px solid;
}

.contato__input:focus-visible, .contato__textarea:focus-visible {
    border: var(--sombra-hover) 1px solid;
}

.contato__input__field--erro {
    font-family: var(--fonte-base);
    font-size: 0.8rem;
    color: var(--cor-erro);
    font-weight: 400;
    padding-block: 0.3rem 0.5rem;
}

.contato__botao {
    border: var(--texto-dark) 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    font-family: var(--fonte-base);
    padding: 1rem;
    transition: .5s ease;
    text-decoration: none;
    width: 50%;
}

.contato__botao:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.contato__botao--enviar {
    background-color: var(--cor-fundo);
    color: var(--texto-light);
    font-weight: 700;
}

.contato__botao--enviar:hover {
    background-color: var(--cor-fundo-light);
    color: var(--texto-dark);
    box-shadow: 1px 1px 10px var(--sombra-hover);
}